<app-header></app-header>

<main class="container">
  <h2>Liste de tâches</h2>

  <button (click)="showList = !showList">
    Afficher / masquer la liste
  </button>

  <div *ngIf="showList">

    <form #taskForm="ngForm" (ngSubmit)="addTask()">

      <input [(ngModel)]="newTask" type="text" name="task" required minlength="3"/>

      <div *ngIf="taskForm.submitted && taskForm.controls['task']?.invalid">
        <small *ngIf="taskForm.controls['task']?.errors?.['required']">
          Le champ est obligatoire.
        </small>
        <small *ngIf="taskForm.controls['task']?.errors?.['minlength']">
          Minimum 3 caractères.
        </small>
      </div>

      <button type="submit" [disabled]="taskForm.invalid">
        Ajouter
      </button>

    </form>

    <!-- Chargement API -->
    <button (click)="loadFromApi()">
      Charger depuis l’API (mock)
    </button>

    <div class="list">
      <app-task-item
        *ngFor="let task of tasks; let i = index"
        [task]="task"
        (done)="removeTask(i)"
      ></app-task-item>
    </div>
  </div>
</main>
